.post {
	border: 12px groove red;
    background-color: rgb(154, 218, 243); 
    border-radius: 25px;
	margin: 12px;
	padding: 20px;
}
.post img {
	height: 200px;
	width: 200px;
    padding-left: 5px;
    
}
.back{
	font-size: 30px;
	padding-left: 10px;
}
a:hover{
	color: cyan;
	transition: .5s;
}
body{
	background-image: url(blogpics/bikebg5.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
}
h1 {
    color:mediumblue;
}
input{
    color:mediumblue;
    font-weight: bold;
}
