body {
	font-family: sans-serif;	
	background-image: url(blogPics/bikebg6.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
}

.container {
	width: 380px;
	margin:5% auto;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 17px rgb(2, 47, 88);
	padding-bottom: 20px;
}
.back{
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
.back i{
	font-size: 30px;
	color:rgb(2, 131, 252)
}
.back  i:hover{
	color:rgb(2, 181, 252)
}
.header {
	text-align: center;
	padding-top: 40px;
}

.header h1 {
	color: rgb(2, 131, 252);
	font-size: 45px;
	margin-bottom: 80px;
}

.main {
	text-align: center;
}

.main input, button, select{
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
}
.main a{
	color: blue;
	text-align: center;
	padding-bottom: 20px;

}
.main a:hover{
	color:  #1b9cf1

}
.main label{
	text-align: center;
	
}
.main button {
	padding-left: 0;
	background-color: #83acf1;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 40px;
}

.main button:hover {
	box-shadow: 2px 2px 5px  #1b9cf1;
	background-color: #7799d4;
}
.main input:hover {
	box-shadow: 2px 2px 5px #1b9cf1;
	background-color: #ddd;
}
.main select:hover {
	box-shadow: 2px 2px 5px #1b9cf1;
	background-color: #ddd;
}

.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}
.main label{
	color:white;
}
